body{
    background-color: #EFEFEF;
    margin: 0;
    height: 650vw;
}
input, button, select, textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}
*{margin:0;padding:0;}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
a{
    color: inherit;
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    padding: 20px 0px 20px 0px;
    position: fixed;
    height: 5vw;
    top:0;
    left:0;
    width:100%;
    transition:all 0.5s;
    color:#c1c3c7;
}
.topNavBar.active{
    background-color: rgb(243, 243, 243);
    padding: 10px 0;
    z-index: 1;
    color:rgb(100, 100, 100);
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.5);
}
.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    position: relative;
    margin: 0 1.5vw;
}
.topNavBar .subMean>ul{
    display: none;
}
.topNavBar .subMean.active>ul{
    list-style: none;
    display: block;
    position: absolute;
    top:50%;
    background-color: white;
    padding: 10px 20px;
    right: 0;
    color:rgb(100, 100, 100);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
    animation:subMeanMove 0.5s;
}
@keyframes subMeanMove{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.topNavBar nav>ul>li>a{
    display: block;
    font-size: 3vw;
    color:inherit;
    font-weight: bold;
    border-bottom:3px solid transparent;
}
.topNavBar .subMean.highlight::after,
.topNavBar .subMean.active::after{
    display: block;
    content:'';
    top:100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color:  #E8676B;
    animation:moveToRight 0.5s;
}
[data-x].offset{
    transform: translateY(50vw);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
.topNavBar .subMean::after{
    display: none;
}
@keyframes moveToRight{
    0%{
     width: 0;
    }
    100%{
     width: 100%;
    }
}
.topNavBar .logo{
    font-family: "Arial Rounded MT Bold";
    font-size: 5vw;
}
.topNavBar .logo .rs{ 
    margin-right: 1vw;
    color:#E8676B;
}
.topNavBar .logo .card { 
    color:#c1c3c7;
}
.banner{
    height: 100vw;
    background-position: center center;
    background-size:cover;
}
.banner .mask{
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.26);
}
.usercard{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50vw;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.text .welcome{
    padding: 1vw 2vw;
    line-height: 3vw;
    display: inline-block;
    background-color: #E8676B;
    color: white;
    position: relative;
    font-size: 1vw;
}
.text h1{
    font-size: 5vw;
    margin-top:2vw;
    font-family: sans-serif;
}
.text p{
    font-size: 2vw;
}
hr{
    height: 0;
    border:none;
    border-top: 1px solid #DEDEDE;
}

.triangle{
    display: block;
    border: 5px solid transparent;
    width: 0;
    border-left-color:#E8676B;
    border-top:0;
    position: absolute;
    top:100%;
}
.usercard .pic{
    display: block;
    float: left;
}
.usercard .pic>img{
    height: 20vw;
    width: 18vw;
}
.usercard .text{
    float: right;
    margin-left: 2vw;
    width: 40vw;
}
.textAndPicture{
    background-color: #FFF;
    padding: 5vw;
    position: relative;
}
.usercard .info{
    display: block;
    margin-top: 2vw;
    padding-top: 5vw;
    border-top:1px solid #ddd;
    float: left;
}
.usercard .info>dl dt{
    float: left;
    width: 42%;
    font-size: 2vw;
    font-weight: bold;
    font-family: sans-serif;
}
.usercard dl dd{
    float: left;
    width: 50%;
    font-size: 1vw;
    color: gray;
}
.usercard footer.media {
    background: #E8676B;
    padding: 2vw;
    text-align: center;
}
.usercard footer.media>a {
    display: inline-block;
    border-radius: 50%;
    width: 8vw;
    line-height: 20px;
    padding: 1vw 0;
    margin: 0 1vw;
}
.usercard footer.media>a:hover{
    background: rgb(223, 51, 56);
}
.usercard svg{
    width: 5vw;
    height: 5vw;
    fill: white;
    vertical-align: top;
}
body>main .downloadResume{
    display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.438);    
    padding: 3vw 5vw;
    margin: 30px 0;
    border-radius: 3px;
    color: rgba(71, 37, 37, 0.575);
    font-size: 14px;
    font-weight: bold;
    transition: box-shadow 0.2s;
}
body>main .downloadResume:hover{
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.5);
}
.selfIntroduction{
    max-width: 50%;
    margin: 3vw auto;
    text-align: center;
    font-family: WenQuanYi Micro Hei Mono;
    line-height: 1.8;
    font-size: 1vw;
}
section.skills{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}
section.portfolio>h2,
section.skills>h2{
    font-size: 8vw;
    line-height: 1.2;
    font-weight:600;
    text-align: center; 
    margin: 20px 0px;
}
section.skills h3{
    font-size: 14px;
}
section.skills>ol{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.514);
    list-style: none;
    border: 1px solid rgba(128, 128, 128, 0.397);
    padding: 3vw 5vw 1vw 5vw;
}
section.skills>ol>li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.skills>ol>li:nth-child(even){
    float: right;
}
section.skills .progressBar{
    height: 5px;
    background-color: rgba(128, 128, 128, 0.192);
    border-radius: 3px;
    margin: 1vw 0 4vw 0;
    overflow: hidden;
}
section.skills .progressBar .progress{
    height: 100%;
    width: 50%;
    background-color: #E8676B;
    transform: translateX(0);
    transition: all 1s;
}
section.skills.offset .progress{
    transform: translateX(-100%);
}
section.portfolio{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
section.portfolio .works{
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
section.portfolio .swiper-container {
    width: 80vw;
    height: 60vw;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.514);
}
section.portfolio .swiper-container img{
    width: 80vw;
    height: 60vw;
}
section.portfolio .swiper-button-prev{
    display: none;
}
section.portfolio  .swiper-button-next{
    display: none;
}
#postMessageForm{
    width: 65vw;
    margin:5vw auto 0 auto;
}
#MessageBoardForm{
    background-color: #F4F8F9;
    border: 1px solid white;
    padding: 20px;
    max-width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.514);
}
#postMessageForm>label{
    width: 3em;
    display: block;
}
#postMessageForm>label input{
    width: 60vw;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#postMessageForm>label input:focus{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.514);
}
#postMessageForm>label textarea{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 60vw;
}
#postMessageForm>label textarea:focus{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.514);
}
#postMessageForm button{
    width: 60vw;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(221,221,221,1) 99%);
    
}
#MessageBoard>h2{
    font-size:34px;
    line-height: 1.2;
    font-weight:600;
    text-align: center; 
    margin: 50px 0px;
}
#MessageBoardForm ol{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5vw;
}
#MessageBoardForm ol>li{
    margin: 10px 0;
}
#MessageBoardForm ol>li:nth-child(odd){
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    list-style: none;
    
}
#MessageBoardForm ol>li:nth-child(even){
    padding: 20px;
    border: 1px solid #E7F4FA;
    background-color: #E7F4FA;
    list-style: none;
    border-radius: 5px;
    
}

